html, body {
	font-family: 'Noto Sans KR', sans-serif;
}

@media (orientation: landscape) {
	#detect {
		display: none !important;
	}
}
@media (orientation: portrait) {
	#detect {
		display: block !important;
	}
}

@keyframes info-fadeIn {
	0% {
		opacity: 0;
		transition: opacity 2s ease-in-out;
	}
	50% {
		opacity: 0.7;
		transition: opacity 2s ease-in-out;
	}
	100% {
		opacity: 1;
		transition: opacity 3s ease-in-out;
	}
}
@keyframes info-fadeOut {
	0% {
		opacity: 1;
		transition: opacity 3s ease-in-out;
	}
	50% {
		opacity: 0.7;
		transition: opacity 2s ease-in-out;
	}
	100% {
		opacity: 0;
		transition: opacity 3s ease-in-out;
	}
}

#detect{
	z-index: 10;
	background: rgba(67, 67, 67, 1);
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: fixed;
}
#detect #detect_img {
	position: absolute;
	width: 45%;
	margin-left: 28%;
	margin-top: 55%;
}
#detect #detect_msg {
	position: absolute;
	padding: 0;
	margin: 0 auto;
	width: 55%;
	left: 22%;
	top: 55%;
}

#detect .custom-list {
	list-style: none;
	padding-left: 0;
	text-align: center;
}
#detect .custom-list li {
	position: relative;
	margin-left: 10%;
	margin-top: 50%;
	color: white;
}
#detect .custom-list li:before {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	background-image: url('assets/images/icons/info.png');
	background-size: cover;
	background-position: center;
	left: 0;
	top: 50%;
	transform: translateY(-60%);
}

#pageInfo {
	width: 85%;
	background: rgba(0,0,0, 0.8);
	border-radius: 14px;
	color: white !important;
	margin: 20%;
	margin-left: 7.5%;
	position: absolute;
	padding: 10%;
	padding-top: 15%;
	z-index:4;
}

#pageInfo * {
	z-index: 4;
}

#pageInfo h2 {
	/*color: white;*/
	font-size: 22px;
	margin-top: 5%;
	margin-left: 5%;
}
#pageInfo ol {
	list-style: decimal;

}
#pageInfo li {
	margin-top:20%;
	font-size: 16px;
	line-height: 20px;
	margin-left:5%;
}
#pageInfo button {
	border: none;
	font-size: 18px;
	z-index: 1;
	background: rgb(211,211,211);
	width: 60%;
	padding: 8px;
	border-radius: 8px;
	color: black;
	margin: 0 auto;
	margin-left: 20%;
	margin-top: 20%;
}



#guide-header {
	width:100%;
	height:60%;
}

#guide-header-message-top {
	width:100%;
	text-align: center;
	font-size: 26px;
	padding:2%;
}

#guide-header-message-bottom {
	width:100%;
	text-align: center;
	padding:2%
}

#guide-header-message-bottom p {
	font-size: 18px;
}

#guide-header-img {
	width:100%;
	text-align: center;
    padding-top: 4%;
}

#guide-header-img img {
	width:60%;
}

#guide-header-btn {
	font-size: 16px;
	width:100%;
	text-align: center;
	padding: 3% 35% 3% 35%;

}

#guide-header-btn button {
	width:100%;
	font-size: 18px;
	background-color:#30AEC3;
	outline: none;
	border:none;
	border-radius: 5px;
	padding:7px;
    color:white;

}

#guide-share-text {

	position: absolute;
	right: 4%;
	bottom: 16%;
	margin-bottom: 144.5px; /* 150 + 12 -30 */
	margin-right: 106px;
	font-size: 18px;
}

#guide-share-arrow {
	position: absolute;
	right: 4%;
	bottom: 16%;
	margin-bottom: 170px; /* 150 + 12 */
	margin-right: 102px; /* 70 + 32 */
}

#guide-share-arrow img {
	position:absolute;
	width:55px;
	height:24px;
}

#guide-message-text {
	position: absolute;
	right: 4%;
	bottom: 16%;
	margin-bottom: 87.5px; /* 90 + 12 -30 */
	margin-right: 116px;
	font-size: 18px;
}

#guide-message-arrow {
	position: absolute;
	right: 4%;
	bottom: 16%;
	margin-bottom: 118px; /* 90 + 12 */
	margin-right: 114px; /* 70 + 32 */
}

#guide-message-arrow img {
	position:absolute;
	width:63px;
	height:34px;
}

#guide-emoji-text {
	position: absolute;
	right: 4%;
	bottom: 16%;
	margin-bottom: 27.5px; /* 30 + 12 -30 */
	margin-right: 116px;
	font-size: 18px;
}

#guide-emoji-arrow {
	position: absolute;
	right: 4%;
	bottom: 16%;
	margin-bottom: 58px; /* 30 + 12 */
	margin-right: 114px; /* 70 + 32 */
}

#guide-emoji-arrow img {
	position:absolute;
	width:65px;
	height:36px;
}

#guide-remove-text {
	position: absolute;
	left: 4%;
	bottom: 16%;
	margin-bottom: 109.5px;
	margin-left: 57px;
	font-size: 18px;
}

#guide-remove-arrow {
	position: absolute;
	left: 4%;
	bottom: 16%;
	margin-bottom: 107px;
	margin-left: 17px;
}

#guide-remove-arrow img {
	position:absolute;
	width:52px;
	height:52px;
}



#undo {
	position:absolute;
	right:4%;
	bottom:16%;
	width:50px;
	height:50px;
	z-index: 3
}

#comment-box {
	position: absolute;
	width:85%;
	margin-top: 20%;
	margin-left: 7.5%;
	padding: 5%;
	border-radius: 10px;
	background: white;
	z-index: 1;
}

#comment-box #comment-box-input {
	width:100%;
	margin-top: 10%;
}

#comment-box #comment-box-input-left {
	float:left;
	width:20%;
	color:black;
	font-size: 17px;
	margin-top: 5px;
}

#comment-box #comment-box-input-right {
	float:right;
	width:80%;
	text-align: center;
}

#comment-box #comment-box-input-right input {
	font-size: 16px;
	background-color: #E5E5E5;
	width:100%;
	padding:2px;
}

#comment-box button {
	width:40%;
	text-align: center;
	font-size: 12px;
	border: none;
}

#comment-box * {
	z-index: 1
}
#comment-box p {
	text-align: center;
	color: black;
	font-size: 18px;
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 2%;
}
#comment-box form {
	width: 100%;
}
#comment-box form label {
	font-size: 16px;
	display: inline-block;
	width: 55px;
	text-align: left;
	margin-left: 1%;
	color: black;
	margin-bottom: 4%;
}
#comment-box form input {
	font-size: 16px;
	padding: 2%;
	width: 100%;
	margin-bottom: 8%;
	box-sizing: border-box;
}

#comment-box #comment-box-buttons {
	margin-top: 25%;
}

#comment-box #btCancel-box {
	width:40%;
	margin-top: 4%;
	background: rgb(211,211,211);
	padding: 8px;
	border-radius: 8px;
	font-size: 18px;
	color: black;
	float:left
}
#comment-box #btOK-box {
	width:40%;
	margin-top: 4%;
	background: #30AEC3;
	padding: 8px;
	border-radius: 8px;
	font-size: 18px;
	color: white;
	float:right
}

#comment-success {
	width: 50%;
	height: 30%;
	min-height: 125px;
	position: fixed;
	top: 0;
	left: 20%;
	padding: 1%;
	margin: 18% auto;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
}
#comment-success p {
	text-align: center;
	color: black;
	font-size: 22px;
	font-weight: bold;
	margin-top: 4%;
}
#comment-success button {
	background: rgb(36,185,189);
	width: 160px;
	height: 43px;
	position: relative;
	text-align: center;
	border-radius: 5px;
	border: none;
	color: white;
	font-size: 18px;
	margin-left: 30%;
	margin-top: 3%;
	z-index: 1;
}

.alert {
	padding: 20px;
	/*background-color: #f44336;*/
	background: rgba(247,197,110, 1);
	color: white;
	width: 50%;
	margin: 3% auto;
	z-index: 1000;
}
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
	color: black;
}




#ft-functions {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	text-align: center;
	z-index:2;
}

#ft-functions * {
	z-index: 2;
}

#ft-functions #func {
	height: 100%;
	/*background: rgba(255,255,255, 0.6);*/
	/*background: rgba(46,139,87, 0.6);*/
}
#ft-functions img {
	width: 60%;
	margin-top: 27%;
	margin-bottom: 45%;
}
#ft-functions #cm-text {
	width: 60px;
	height: 60px;
	background: rgba(255,255,255, 0.6);
	border-radius: 100%;
	border: 14px solid rgba(0,0,139, 1);
	/*margin-top: 20%;*/
	margin-right: 5%;
	-webkit-box-shadow: 5px 5px 15px 0 rgba(0,0,139, 0.6);
	-moz-box-shadow: 5px 5px 15px 0 rgba(0,0,139, 0.6);
	box-shadow: 5px 5px 15px 0 rgba(0,0,139, 0.6);
}
#ft-functions #cm-emo {
	width: 60px;
	height: 60px;
	background: rgba(255,255,255, 0.6);
	border-radius: 100%;
	border: 14px solid rgba(255,105,180,1);
	-webkit-box-shadow: 5px 5px 15px 0 rgba(255,105,180,0.6);
	-moz-box-shadow: 5px 5px 15px 0 rgba(255,105,180,0.6);
	box-shadow: 5px 5px 15px 0 rgba(255,105,180,0.6);
}
#ft-functions .cm-title {
	font-weight: bold;
	font-size: 16px;
	margin-top: 10%;
	text-align: center;
}
#ft-functions #emotions {
	width: 100%;
	height: 16%;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0 auto;
	/*background: rgba(255,255,255, 0.6);*/
	overflow: scroll;
	max-width: 100%;
	overflow-x: hidden;
}
#ft-functions #emotions .emoji-box-item {
	width: 90%;
	margin-top: 2%;
	margin-left: 5%;
}
#ft-functions #emotions .emoji-box-item span {
	font-size: 36px;
	/*margin: 5% auto;*/
	letter-spacing: 10px;
}

.inline {
	display: inline-block;
	margin: 10px;
}

.cardElement {
	width: 380px;
	height: 380px;
	/*font-size: 40px;*/
	border-radius: 5%;
	padding: 15px 15px 30px 15px;
	object-fit: contain;
	text-align: center;
	margin-top:10%
}
.imagebox {
	width: 100%;
}
.imagebox img {
	display: block;
	margin: 0 auto;
	width: 340px;
	height: 360px;
	border-radius: 10%;
}



#kakao-modal-bg{
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding-left:5%;
	padding-right:5%;
}

#kakao-modal-box {
	width:100%;
	height:23%;
	margin-top:50%;
	background-color: #ffffff;
	padding:30px 30px 15px 30px;
	border-radius: 10px;
}

#kakao-modal-header {
	height:50%;
}

#kakao-modal-header-img {
	float:left;
	width:25%;
	text-align: right;
	padding-right: 6%;
	padding-top:5px;
}

#kakao-modal-header-text {
	width:75%;
	float:right;
}

#kakao-modal-header-text > p{
	letter-spacing: normal;
	font-size: 18px;
	line-height: 1.67;
	color: #000000;
}

#kakao-modal-footer {
	height:50%;
	padding-top:7%;
}

#kakao-modal-footer-ok {
	width:46%;
	float:right;
}


#kakao-modal-footer-ok > button {
	width:100%;
	font-size: 16px;
	line-height: 1.67;
	color: #ffffff;
    background: #30AEC3;
    outline:2px solid #30AEC3;
    border:none;
    padding:3px

}

#kakao-modal-footer-cancel {
	width:46%;
	float:left;
}

#kakao-modal-footer-cancel > button {
	width:100%;
	font-size: 16px;
	line-height: 1.67;
	color: #000000;
	background-color:#FFFFFF;
    border:none;
    border-radius: 3px;
    outline:2px solid #30AEC3;
    padding:3px
}

#remove-modal-bg{
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding-left:10%;
	padding-right:10%;
}

#remove-modal-box {
	width:100%;
	height:18%;
	margin-top:50%;
    background-color: #ffffff;
	padding:5% 5% 3% 7%;
    border-radius: 5px;
}

#remove-modal-header {
	text-align: center;
	height:60%;
}

#remove-modal-header-text {
	width: 100%;
}

#remove-modal-header-text > p{
	font-weight: bold;
	letter-spacing: normal;
	font-size: 20px;
	line-height: 1.67;
	color: #000000;
}

#remove-modal-footer {
	height:40%;
	padding-top:3%;
}

#remove-modal-footer-ok {
	width:43%;
	float:right;
}

#remove-modal-footer-ok > button {
	width:100%;
	font-size: 16px;
	line-height: 1.67;
	color: #000000;
	background: rgba(6,143,168,1);
    outline: none;
    border:none;
    border-radius: 5px;
}

#remove-modal-footer-cancel {
	width:43%;
	float:left;
}

#remove-modal-footer-cancel > button {
	width:100%;
	font-size: 16px;
	line-height: 1.67;
	color: #000000;
	background-color:#E3E3E3;
    outline: none;
    border:none;
    border-radius: 5px;
}



#border-line-top-left {
    position:absolute;
    left:0;
}

#border-line-top-right {
    position:absolute;
    right:0;
}

#border-line-bottom-left {
    position:absolute;
    left:0;
    bottom:0;
}

#border-line-bottom-right {
    position:absolute;
    right:0;
    bottom:0
}




#share-message {
    width:100%;
    height:10%;
    position:absolute;
    padding:5%;
    background-color: rgba(52, 52, 52, 0.53);
}

#share-message-text {
    width:100%;
    height:100%;
    font-weight: 900;
    text-align: center;
    font-size: 23px;
    color: white;
}

#content-helper img{
    width:20px;
    height:20px;
    font-size: 18px;
}



.nav-message-text {
    width:100%;
    height:50%;
    font-weight: 900;
    text-align: center;
    font-size: 23px;
    color: white;
}














