html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  color: #fff;
}

#capture {
  display: none;
  background-color: rgba(42, 175, 197, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
}
#capture #border {
  width: 100%;
  height: 100%;
  padding: 20% 5% 30% 5%;
  position: absolute;
}
#capture #border #border-line {
  width: 100%;
  height: 100%;
  position: relative;
}
#capture #border #border-line img {
  width: 50px;
  height: 50px;
}
#capture #cap1 {
  width: 25%;
  position: absolute;
  margin-left: 37.5%;
  top: 30%;
}
#capture #capture-message {
  width: 100%;
  top: 50%;
  text-align: center;
  padding: 10px;
  position: absolute;
}
#capture #capture-message p {
  color: white;
  font-size: 20px;
  padding: 0;
  text-align: center;
  bottom: 15%;
  position: relative;
}

#content-wrapper {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
}
#content-wrapper #comment-div {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  height: 500px;
  position: fixed;
  z-index: 200;
}
#content-wrapper #comment-div #guide-bg {
  text-align: center;
  z-index: 200;
  padding-top: 20%;
}
#content-wrapper #comment-div #guide-bg #guide-header {
  width: 100%;
  height: 60%;
}
#content-wrapper #comment-div #guide-bg #guide-header #guide-header-message-top {
  width: 100%;
  text-align: center;
  font-size: 26px;
  padding: 2%;
}
#content-wrapper #comment-div #guide-bg #guide-header #guide-header-message-bottom {
  width: 100%;
  text-align: center;
  padding: 2%;
}
#content-wrapper #comment-div #guide-bg #guide-header #guide-header-message-bottom p {
  font-size: 18px;
}
#content-wrapper #comment-div #guide-bg #guide-header #guide-header-btn {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 3% 35% 3% 35%;
}
#content-wrapper #comment-div #guide-bg #guide-header #guide-header-btn button {
  width: 100%;
  font-size: 18px;
  background-color: #30AEC3;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 7px;
  color: white;
}
#content-wrapper #comment-div #guide-bg #guide-header #guide-header-img {
  width: 100%;
  text-align: center;
  padding-top: 4%;
}
#content-wrapper #comment-div #guide-bg #guide-header #guide-header-img img {
  width: 60%;
}
#content-wrapper #comment-div #comment-box {
  position: absolute;
  width: 85%;
  margin-top: 20%;
  margin-left: 7.5%;
  padding: 5%;
  border-radius: 10px;
  background: white;
  z-index: 200;
}
#content-wrapper #nav-message {
  display: block;
  position: absolute;
  width: 100%;
  background: rgba(52, 52, 52, 0.53);
  height: 200px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#content-wrapper #nav-message p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  line-height: 1.6;
}
#content-wrapper #nav {
  width: 100%;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 200px;
  z-index: 200;
}
#content-wrapper #nav #nav-guide {
  z-index: 200;
}
#content-wrapper #nav #nav-guide #guide-share-text {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 144.5px;
  margin-right: 106px;
  font-size: 18px;
}
#content-wrapper #nav #nav-guide #guide-share-arrow {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 170px;
  margin-right: 102px;
}
#content-wrapper #nav #nav-guide #guide-share-arrow img {
  position: absolute;
  width: 55px;
  height: 24px;
}
#content-wrapper #nav #nav-guide #guide-message-text {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 87.5px;
  margin-right: 116px;
  font-size: 18px;
}
#content-wrapper #nav #nav-guide #guide-message-arrow {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 118px;
  margin-right: 114px;
}
#content-wrapper #nav #nav-guide #guide-message-arrow img {
  position: absolute;
  width: 63px;
  height: 34px;
}
#content-wrapper #nav #nav-guide #guide-emoji-text {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 27.5px;
  margin-right: 116px;
  font-size: 18px;
}
#content-wrapper #nav #nav-guide #guide-emoji-arrow {
  position: absolute;
  right: 4%;
  bottom: 16%;
  margin-bottom: 58px;
  margin-right: 114px;
}
#content-wrapper #nav #nav-guide #guide-emoji-arrow img {
  position: absolute;
  width: 65px;
  height: 36px;
}
#content-wrapper #nav #nav-guide #guide-remove-text {
  position: absolute;
  left: 4%;
  bottom: 16%;
  margin-bottom: 109.5px;
  margin-left: 57px;
  font-size: 18px;
}
#content-wrapper #nav #nav-guide #guide-remove-arrow {
  position: absolute;
  left: 4%;
  bottom: 16%;
  margin-bottom: 107px;
  margin-left: 17px;
}
#content-wrapper #nav #nav-guide #guide-remove-arrow img {
  position: absolute;
  width: 52px;
  height: 52px;
}
#content-wrapper #nav #nav-garbage {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 4%;
  bottom: 16%;
}
#content-wrapper #nav #nav-kakao {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 4%;
  bottom: 16%;
  margin-bottom: 120px;
}
#content-wrapper #nav #nav-text {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 4%;
  bottom: 16%;
  margin-bottom: 60px;
}
#content-wrapper #nav #nav-emo {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 4%;
  bottom: 16%;
}
#content-wrapper #undo {
  position: absolute;
  right: 4%;
  bottom: 30%;
  width: 50px;
  height: 50px;
  z-index: 3;
}

.renderable .wrap .comment {
  padding: 5px 16px;
  text-align: center;
  border-radius: 3px;
  border: solid 2px #000000;
  background: rgba(0, 0, 0, 0.45);
  color: white;
}
.renderable .wrap .comment .value {
  font-size: 14px;
  line-height: 1;
}
.renderable .wrap .comment .value:before {
  content: "#";
}
.renderable .wrap .comment .value:after {
  content: "";
  width: 15px;
  height: 1px;
  background: rgba(255, 255, 255, 0.28);
  display: block;
  margin: 6px auto 6px;
}
.renderable .wrap .emoji .value {
  font-size: 20px;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
}
.renderable.helper {
  position: relative;
  padding: 10px;
  border: 1px dotted #fff;
  border-radius: 6px;
}
.renderable.helper .emoji {
  padding: 10px;
  border: solid 2px #000000;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 100%;
}
.renderable.helper:after {
  content: "You can resize, rotate or move this around";
  position: absolute;
  bottom: -20px;
  width: 300%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
}
.renderable.helper .wrap:before, .renderable.helper .wrap:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 29px;
}
.renderable.helper .wrap:before {
  left: 0;
  top: 0;
  background: url("../assets/resize_lt.svg");
}
.renderable.helper .wrap:after {
  right: 0;
  top: 0;
  background: url("../assets/resize_rt.svg");
}
.renderable.helper .comment:before, .renderable.helper .comment:after,
.renderable.helper .emoji:before,
.renderable.helper .emoji:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
}
.renderable.helper .comment:before,
.renderable.helper .emoji:before {
  left: 0;
  bottom: 0;
  background: url("../assets/resize_lb.svg");
}
.renderable.helper .comment:after,
.renderable.helper .emoji:after {
  right: 0;
  bottom: 0;
  background: url("../assets/resize_rb.svg");
}

#confirm {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(52, 52, 52, 0.53);
  z-index: 200;
  padding: 5%;
}
#confirm p {
  text-align: center;
  font-size: 18px !important;
  color: white;
}
#confirm #confirm-button {
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
#confirm #confirm-button button {
  padding: 0;
  border: none;
  background: none;
  font-size: 14px;
}
#confirm #confirm-button #confirm-button-ok {
  width: 45%;
  background: #24b9bd;
  padding: 8px;
  border-radius: 8px;
  color: white;
  float: right;
}
#confirm #confirm-button #confirm-button-cancel {
  width: 45%;
  background: #ffffff;
  padding: 8px;
  border-radius: 8px;
  color: black;
  float: left;
}

.user-comment {
  font-weight: bold;
  border: none;
  color: white;
  text-shadow: 1px 1px #000000;
  opacity: 0.85;
}

/*# sourceMappingURL=main.css.map */
