
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  color: #fff;
}

@mixin abs-full {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#capture {
  display: none;
  background-color:rgba(42,175,197,0.4);
  @include abs-full;
  position: fixed;
  z-index: 200;

  #border {
    width:100%;
    height:100%;
    padding: 20% 5% 30% 5%;
    position:absolute;
    #border-line {
      width:100%;
      height:100%;
      position:relative;
      img {
        width:50px;
        height:50px;
      }
      #border-line-top-left {
        position:absolute;
        left:0;
      }
      #border-line-top-right {
        position:absolute;
        right:0;
      }
      #border-line-bottom-left {
        position:absolute;
        left:0;
        bottom:0;
      }
      #border-line-bottom-right {
        position:absolute;
        right:0;
        bottom:0
      }
    }
  }
  #cap1 {
    width: 25%;
    position: absolute;
    margin-left: 37.5%;
    top:30%
  }
  #capture-message {
    width:100%;
    top:50%;
    text-align: center;
    padding:10px;
    position:absolute;
    p {
      color: white;
      font-size: 20px;
      padding: 0;
      text-align: center;
      bottom:15%;
      position:relative;
    }
  }
}

#content-wrapper {
  background: rgba(0, 0, 0, 0.8);
  @include abs-full;
  position: fixed;
  z-index: 200;
  #comment-div {
    display: none;
    @include abs-full;
    height: 500px;
    position: fixed;
    z-index: 200;
    #guide-bg {
      text-align: center;
      z-index: 200;
      padding-top: 20%;
      #guide-header {
        width:100%;
        height:60%;
        #guide-header-message-top {
          width:100%;
          text-align: center;
          font-size: 26px;
          padding:2%;
        }
        #guide-header-message-bottom {
          width:100%;
          text-align: center;
          padding:2%;
          p {
            font-size: 18px;
          }
        }
        #guide-header-btn {
          font-size: 16px;
          width:100%;
          text-align: center;
          padding: 3% 35% 3% 35%;
          button {
            width:100%;
            font-size: 18px;
            background-color:#30AEC3;
            outline: none;
            border:none;
            border-radius: 5px;
            padding:7px;
            color:white;
          }
        }
        #guide-header-img {
          width:100%;
          text-align: center;
          padding-top: 4%;
          img {
            width:60%;
          }
        }
      }
    }
    #comment-box {
      position: absolute;
      width:85%;
      margin-top: 20%;
      margin-left: 7.5%;
      padding: 5%;
      border-radius: 10px;
      background: white;
      z-index: 200;
      #comment-box-input {
        width:100%;
        margin-top: 10%;
        #comment-box-input-left {
          float:left;
          width:20%;
          color:black;
          font-size: 17px;
          margin-top: 5px;
        }
        #comment-box-input-right {
          float:right;
          width:80%;
          text-align: center;
          input {
            font-size: 16px;
            background-color: #E5E5E5;
            width:100%;
            padding:2px;
          }
        }
      }
      #comment-box-buttons {
        margin-top: 25%;
        .inline {
          display: inline-block;
          margin: 10px;
        }
        #btCancel-box {
          width:40%;
          margin-top: 4%;
          background: rgb(211,211,211);
          padding: 8px;
          border-radius: 8px;
          font-size: 18px;
          color: black;
          float:left
        }
        #btOK-box {
          width:40%;
          margin-top: 4%;
          background: #30AEC3;
          padding: 8px;
          border-radius: 8px;
          font-size: 18px;
          color: white;
          float:right
        }
      }
      button {
        width:40%;
        text-align: center;
        font-size: 12px;
        border: none;
      }
      p {
        text-align: center;
        color: black;
        font-size: 18px;
        font-weight: bold;
        margin-top: 2%;
        margin-bottom: 2%;
      }
    }
  }

  #nav-message {
    display: block;
    position: absolute;
    width: 100%;
    background: rgba(52, 52, 52, 0.53);
    height: 200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    p {
      font-size: 1.2rem;
      text-align: center;
      font-weight: 900;
      width: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      line-height: 1.6;
    }
  }

  #nav {
    width: 100%;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 200px;
    z-index: 200;
    #nav-guide {
      z-index: 200;
      #guide-share-text {
        position: absolute;
        right: 4%;
        bottom: 16%;
        margin-bottom: 144.5px;
        margin-right: 106px;
        font-size: 18px;
      }
      #guide-share-arrow {
        position: absolute;
        right: 4%;
        bottom: 16%;
        margin-bottom: 170px;
        margin-right: 102px;
        img {
          position:absolute;
          width:55px;
          height:24px;
        }
      }
      #guide-message-text {
        position: absolute;
        right: 4%;
        bottom: 16%;
        margin-bottom: 87.5px;
        margin-right: 116px;
        font-size: 18px;
      }
      #guide-message-arrow {
        position: absolute;
        right: 4%;
        bottom: 16%;
        margin-bottom: 118px;
        margin-right: 114px;
        img {
          position:absolute;
          width:63px;
          height:34px;
        }
      }
      #guide-emoji-text {
        position: absolute;
        right: 4%;
        bottom: 16%;
        margin-bottom: 27.5px;
        margin-right: 116px;
        font-size: 18px;
      }
      #guide-emoji-arrow {
        position: absolute;
        right: 4%;
        bottom: 16%;
        margin-bottom: 58px;
        margin-right: 114px;
        img {
          position:absolute;
          width:65px;
          height:36px;
        }
      }
      #guide-remove-text {
        position: absolute;
        left: 4%;
        bottom: 16%;
        margin-bottom: 109.5px;
        margin-left: 57px;
        font-size: 18px;
      }
      #guide-remove-arrow {
        position: absolute;
        left: 4%;
        bottom: 16%;
        margin-bottom: 107px;
        margin-left: 17px;
        img {
          position:absolute;
          width:52px;
          height:52px;
        }
      }
    }

    #nav-garbage {
      position:absolute;
      width: 50px;
      height: 50px;
      left:4%;
      bottom:16%;
    }
    #nav-kakao {
      position:absolute;
      width: 50px;
      height: 50px;
      right:4%;
      bottom:16%;
      margin-bottom:120px;
    }
    #nav-text {
      position:absolute;
      width: 50px;
      height: 50px;
      right:4%;
      bottom:16%;
      margin-bottom:60px;
    }
    #nav-emo {
      position:absolute;
      width: 50px;
      height: 50px;
      right:4%;
      bottom:16%;
    }

  }

  #undo {
    position:absolute;
    right:4%;
    bottom:30%;
    width:50px;
    height:50px;
    z-index: 3
  }

  #ft-functions {
    width: 100%;
    height: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    display: none;
    text-align: center;
    z-index:200;
    border-radius: 60px 60px 0 0;
    -webkit-backdrop-filter: blur(8.4px);
    backdrop-filter: blur(8.4px);
    background: rgba(16, 16, 16, 0.5);
    #emotions {
      overflow-y: scroll;
      overflow-x: hidden;
      .emoji-box-item {
        width: 90%;
        margin: 22px auto;
        height: 180px;
        button {
          background: none;
          font-size: 32px;
          width: 32px;
          padding: 3px 7px;
          text-align: center;
          line-height: 40px;
          box-sizing: content-box;
          border: none;
        }
      }
    }
  }

  #kakao-modal-box {
    background-color: #ffffff;
    position: absolute;
    width: 90%;
    height: 200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 200;
    border: none;
    border-radius: 5px;
    #kakao-modal-header {
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      #kakao-modal-header-text {
        margin-left: 20px;
        p {
          letter-spacing: normal;
          font-size: 18px;
          line-height: 1.67;
          color: #000000;
        }
      }
    }
    #kakao-modal-footer {
      padding: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      #kakao-modal-footer-ok {
        padding: 6px 50px;
        margin-left: 10px;
        font-size: 16px;
        line-height: 1.67;
        color: #ffffff;
        background: #30AEC3;
        border: 1px solid #30AEC3;
        border-radius: 3px;
      }
      #kakao-modal-footer-cancel {
        font-size: 16px;
        line-height: 1.67;
        color: #000000;
        background-color: #FFFFFF;
        border: 1px solid #30AEC3;
        border-radius: 3px;
        padding: 6px 40px;
      }
    }
  }

  #remove-modal-box {
    background-color: #ffffff;
    position: absolute;
    width: 90%;
    height: 200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 200;
    border: none;
    border-radius: 5px;
    #remove-modal-header {
      height: 110px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      p{
        font-weight: bold;
        letter-spacing: normal;
        font-size: 20px;
        line-height: 1.67;
        color: #000000;
        margin-top: 20px;
      }
    }
    #remove-modal-footer {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      #remove-modal-footer-ok {
        padding: 6px 50px;
        margin-left: 10px;
        font-size: 16px;
        line-height: 1.67;
        color: #ffffff;
        background: #ff4a00;
        border: 1px solid #ff4a00;
        border-radius: 3px;
      }
      #remove-modal-footer-cancel {
        font-size: 16px;
        line-height: 1.67;
        color: #000000;
        background-color: #FFFFFF;
        border: 1px solid #ff4a00;
        border-radius: 3px;
        padding: 6px 40px;
      }
    }
  }
}

#share-message {
  width:100%;
  height:10%;
  position:absolute;
  padding:5%;
  background-color: rgba(52, 52, 52, 0.53);
  #share-message-text {
    width:100%;
    height:100%;
    font-weight: 900;
    text-align: center;
    font-size: 23px;
    color: white;
  }
}

// Comment renderable
.renderable {
  .wrap {
    .comment {
      padding: 5px 16px;
      text-align: center;
      border-radius: 3px;
      border: solid 2px #000000;
      background: rgba(0, 0, 0, 0.45);
      color: white;
      .value {
        font-size: 14px;
        line-height: 1;
        &:before {
          content: '#';
        }
        &:after {
          content: '';
          width: 15px;
          height: 1px;
          background: rgba(255, 255, 255, 0.28);
          display: block;
          margin: 6px auto 6px;
        }
      }
    }
    .emoji {
      .value {
        font-size: 20px;
        display: block;
        width: 20px;
        height: 20px;
        text-align: center;
      }
    }
  }


  &.helper {
    position: relative;
    padding: 10px;
    border: 1px dotted #fff;
    border-radius: 6px;
    .emoji {
      padding: 10px;
      border: solid 2px #000000;
      background-color: rgba(0, 0, 0, 0.45);
      border-radius: 100%;
    }

    // deco start
    &:after {
      content: "You can resize, rotate or move this around";
      position: absolute;
      bottom: -20px;
      width: 300%;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      font-size: 8px;
    }
    .wrap {
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 29px;
      }
      &:before {
        left: 0;
        top: 0;
        background: url("../assets/resize_lt.svg");

      }
      &:after {
        right: 0;
        top: 0;
        background: url("../assets/resize_rt.svg");
      }
    }
    .comment,
    .emoji {
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
      }
      &:before {
        left: 0;
        bottom: 0;
        background: url("../assets/resize_lb.svg");

      }
      &:after {
        right: 0;
        bottom: 0;
        background: url("../assets/resize_rb.svg");
      }
    }
  }
}

#confirm {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(52, 52, 52, 0.53);
  z-index:200;
  padding:5%;
  p {
    text-align: center;
    font-size: 18px !important;
    color: white;
  }
  #confirm-button {
    margin-top: 20px;
    padding-left:10%;
    padding-right:10%;
    button {
      padding: 0;
      border: none;
      background: none;
      font-size: 14px;
    }
    #confirm-button-ok {
      width:45%;
      background: rgb(36,185,189);
      padding: 8px;
      border-radius: 8px;
      color: white;
      float:right
    }
    #confirm-button-cancel {
      width:45%;
      background: #ffffff;
      padding: 8px;
      border-radius: 8px;
      color: black;
      float:left
    }
  }
}

.user-comment {
  font-weight: bold;
  border: none;
  color: white;
  text-shadow: 1px 1px #000000;
  opacity: 0.85;
}
